service: nasty-text


provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-west-2


functions:
  app:
    handler: index.handler
    events:
      - http:
          path: /sms
          method: post

plugins:
  - serverless-offline